<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eater.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @eater.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @eater.phone %>
</p>

<p>
  <strong>Delivery address:</strong>
  <%= @eater.delivery_address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @eater.notes %>
</p>

<%= link_to 'Edit', edit_eater_path(@eater) %> |
<%= link_to 'Back', eaters_path %>
