<p id="notice"><%= notice %></p>

<h1>Cooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cooks.each do |cook| %>
      <tr>
        <td><%= cook.name %></td>
        <td><%= cook.phone %></td>
        <td><%= cook.address %></td>
        <td><%= cook.email %></td>
        <td><%= link_to 'Show', cook %></td>
        <td><%= link_to 'Edit', edit_cook_path(cook) %></td>
        <td><%= link_to 'Destroy', cook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cook', new_cook_path %>
