<p id="notice"><%= notice %></p>

<p>
  <strong>Imageable:</strong>
  <%= @image.imageable %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @image.short_description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
